
<div class="container">

	<h1>Créer un commentaire pour un film</h1>

	<%= simple_form_for [@list, @bookmark] do |f| %>
		<%= f.input :comment %>
		<%= f.association :movie, collection: Movie.all %>
		<%= f.button :submit %>
	<% end %>

</div>
